@import "tailwindcss";

:root {
  /* Colors */
  --background: #ffffff;

  --primaryColor: #a30318;
  --secondaryColor: #aaad9a;

  --textBodyColor: #333333;
  --textMenuColor: #ffffff;
  --textHeadlineColor: #191919;
  --textDisplayColor: #000000;
  --formColor: #808080;

  /* Fonts */
  --fontBodySize: 0.875rem;
  --fontBodyLineHeight: 1.1428;

  --fontHeadlineSize: 1rem;
  --fontHeadlineLineHeight: 1.25;

  --fontDisplaySize: 2.25rem;
  --fontDisplayLineHeight: 1.111;
}

@theme inline {
  /* Colors */
  --color-background: var(--background);

  --color-menuColor: var(--textMenuColor);
  --color-bodyColor: var(--textBodyColor);
  --color-headlineColor: var(--textHeadlineColor);
  --color-displayColor: var(--textDisplayColor);
  --color-formColor: var(--formColor);

  --color-primaryColor: var(--primaryColor);
  --color-secondaryColor: var(--secondaryColor);

  /* Fonts */
  --font-workSans: var(--font-work-sans);
  --font-nyghtSerif: var(--font-nyght-serif);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;

    --textBodyColor: #cccccc;
    --textMenuColor: #000000;
    --textHeadlineColor: #e6e6e6;
    --textDisplayColor: #ffffff;
  }
}
@media (width > 640px) {
  :root {
    --fontBodySize: 1rem;
    --fontBodyLineHeight: 1.25;

    --fontHeadlineSize: 1.25rem;
    --fontHeadlineLineHeight: 1.2;

    --fontDisplaySize: 4rem;
    --fontDisplayLineHeight: 1;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  /* Fonts */
  .fontMenu {
    @apply font-nyghtSerif font-normal text-menuColor;
  }
  .fontBody {
    @apply font-workSans font-normal text-bodyColor;
    font-size: var(--fontBodySize);
    line-height: var(--fontBodyLineHeight);
  }
  .fontHeadline {
    @apply font-nyghtSerif font-light text-headlineColor;
    font-size: var(--fontHeadlineSize);
    line-height: var(--fontHeadlineLineHeight);
  }
  .fontDisplay {
    @apply font-nyghtSerif font-normal text-displayColor;
    font-size: var(--fontDisplaySize);
    line-height: var(--fontDisplayLineHeight);
  }
  .fontDisplayItalic {
    @apply italic font-light;
  }
}
