@import "tailwindcss";

:root {
  /* Colors */
  --background: #ffffff;

  --primaryColor: #a30318;
  --secondaryColor: #aaad9a;

  /* Text */
  --textBodySize: 0.875rem;
  --textBodyLineHeight: 1.1428;
  --textBodyColor: #333333;

  --textHeadlineSize: 1rem;
  --textHeadlineLineHeight: 1.25;
  --textHeadlineColor: #191919;

  --textDisplaySize: 2.25rem;
  --textDisplayLineHeight: 1.111;
  --textDisplayColor: #000000;

  --textFormColor: #808080;
  --textNavDesktopColor: #ffffff;
  --textNavMobileColor: #000000;
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-primaryColor: var(--primaryColor);
  --color-secondaryColor: var(--secondaryColor);
  --color-textNavDesktopColor: var(--textNavDesktopColor);
  --color-textNavMobileColor: var(--textNavMobileColor);
  --color-textBodyColor: var(--textBodyColor);
  --color-textHeadlineColor: var(--textHeadlineColor);
  --color-textDisplayColor: var(--textDisplayColor);
  --color-textFormColor: var(--textFormColor);

  /* Fonts */
  --font-workSans: var(--font-work-sans);
  --font-nyghtSerif: var(--font-nyght-serif);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;

    --textBodyColor: #cccccc;
    --textNavDesktopColor: #000000;
    --textNavMobileColor: #ffffff;
    --textHeadlineColor: #e6e6e6;
    --textDisplayColor: #ffffff;
  }
}
@media (width > 640px) {
  :root {
    --textBodySize: 1rem;
    --textBodyLineHeight: 1.25;

    --textHeadlineSize: 1.25rem;
    --textHeadlineLineHeight: 1.2;

    --textDisplaySize: 4rem;
    --textDisplayLineHeight: 1;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  /* Fonts */
  .fontNav {
    @apply font-nyghtSerif font-normal;
  }
  .fontBody {
    @apply font-workSans font-normal text-textBodyColor;
    font-size: var(--fontBodySize);
    line-height: var(--fontBodyLineHeight);
  }
  .fontHeadline {
    @apply font-nyghtSerif font-light text-textHeadlineColor;
    font-size: var(--fontHeadlineSize);
    line-height: var(--fontHeadlineLineHeight);
  }
  .fontDisplay {
    @apply font-nyghtSerif font-normal text-textDisplayColor;
    font-size: var(--fontDisplaySize);
    line-height: var(--fontDisplayLineHeight);
  }
  .fontDisplayItalic {
    @apply italic font-light;
  }
}
